/* 
    Created on : 6 jul. 2023, 11:15:50
    Author     : developer
*/
.spinner-container {
    width: 100%;
    height: 100%;
    position: fixed;                    
    background-color: #fff;
    z-index: 99999;
}
.spinner-child {
    top: 45%;
    position: absolute;
    left: 50%;
}
